.about-text p{
  font-family: 'Inter', serif;  /* or any font you want */
  font-size: 0.9rem;
  line-height: 1.5;
  color: #333;  /* optional for readability */
}

.title{
  font-family: 'Poppins', sans-serif;
  font-weight:550;
  font-size: 1.5rem;
  letter-spacing: 1px;
  left:5px;
}
@media (max-width: 576px) {
  .responsive-img-wrapper {
    display: none;
  }
}.section-large-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
